__pycache__/
*.pyc
*.sqlite
crm.db          # Exclude the database file itself
.venv/          # Exclude virtual environments
.git/           # Exclude Git related files
.DS_Store       # macOS specific
.vscode/        # VS Code specific